<div class="fade-in mainContainer">
    <p class="header cursive-font">I have no fucking idea what to put here</p>

    <div class="grid">
        <div class="col-12">
            <button pButton type="button" class="centerButton" (click)="showMain()">
                <span class="text" pButtonLabel>Home</span>
            </button>
        </div>
        <div class="col-3">
            <button pButton type="button" class="headerButton" (click)="showCharacter()">
                <!-- <i class="pi pi-check" pButtonIcon></i> -->
                <span class="text" pButtonLabel>Character</span>
            </button>
        </div>
        <div class="col-3">
            <button pButton type="button" class="headerButton" (click)="showTimeline()">
                <!-- <i class="pi pi-check" pButtonIcon></i> -->
                <span class="text" pButtonLabel>TimeLine</span>
            </button>
        </div>
        <div class="col-3">
            <button pButton type="button" class="headerButton" (click)="showGallery()">
                <!-- <i class="pi pi-check" pButtonIcon></i> -->
                <span class="text" pButtonLabel>Gallery</span>
            </button>
        </div>
        <div class="col-3">
            <button pButton type="button" class="headerButton" (click)="showAdultContent()">
                <!-- <i class="pi pi-check" pButtonIcon></i> -->
                <span class="text" pButtonLabel>Adult's Content</span>
            </button>
        </div>
    </div>

    &nbsp;

    <div *ngIf="activeTab === 'main'" class="fade-in">
        <p class="text">Starting from 01-08-2025</p>
        <p class="countDownDays">{{countDownDays}} Days</p>
        <p class="text">This is just my dream site 100% for fun.</p>

        <div class="col-12">
            <!-- <div class="card justify-center">
                <div class=" flex-col gap-2"> -->
                    <div *ngIf="!showUnpublishedContent">
                        <label for="passphase" class="text">Passphase for unpublished content: (passphase can be
                            obtained
                            from
                            the
                            author)</label>
                        <input id="passphase" class="passphaseButton" aria-describedby="username-help"
                            [(ngModel)]="passphase" />
                        <small id="passphase-help" class="text">Actually if you just check the source you can see
                            everything
                            lol. (I don't have server mah)</small>
                        <div class="col-12">
                            <button pButton type="button" class="submitButton" (click)="submitPassphase()">
                                <!-- <i class="pi pi-check" pButtonIcon></i> -->
                                <span class="text" pButtonLabel>Submit</span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="showUnpublishedContent">
                        <p class="text">Passphase entered and correct.</p>
                    </div>
                <!-- </div>
            </div> -->
        </div>



    </div>

    <!-- Tab 1: Character -->
    <div *ngIf="activeTab === 'character'" class="fade-in">
        <app-character></app-character>
    </div>

    <!-- Tab 2: TimeLine -->
    <div *ngIf="activeTab === 'timeline'" class="fade-in">
        <app-timeline></app-timeline>
    </div>

    <!-- Tab 3: Gallery -->
    <div *ngIf="activeTab === 'gallery'" class="fade-in">
        <app-gallery></app-gallery>
    </div>

    <!-- Tab 4: Adult's Content (With Password) -->
    <div *ngIf="activeTab === 'adultContent'" class="fade-in">
        <app-adultcontent></app-adultcontent>
    </div>

    <p class="endMessage">How the fuck did I do this</p>
    <div class="endImage">
        <p-image src="./../images/danceChibi.PNG" width="50" class="endImage w-full" />

    </div>
    <button pButton type="button" class="centerButton" (click)="showThanks()">
        <!-- <i class="pi pi-check" pButtonIcon></i> -->
        <span class="text" pButtonLabel>Thanks</span>
    </button>
    <div *ngIf="thanks">
        <app-thanks></app-thanks>
    </div>
</div>